/* 1. css variables */
:root {
--blue-200 : hsl(193, 38%, 86%);
--green-300 : hsl(150, 100%, 66%);


---blue-600: hsl(217, 19%, 38%);
--blue-900: hsl(217, 19%, 24%);
--blue-950: hsl(218, 23%, 16%);
}

/* 2. reset base styles */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* outline the styles & background colours in html and body */
html, body {
    font-family: manrope, arial; 
    font-size: 28px;
    font-weight: 800; 
    color: var(--blue-200);

    background:var(--blue-950);
}

/* main here reflects the organisation of these elements rather than styles */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 3. layout containers, both style and structure/display type */
.card {
    background:var(---blue-600); 
    border-radius:5px;
    padding: 16px 16px 40px 16px;
    /* max-width is set so it doesn't expand in desktop screen */
    max-width: 320px; 

    display: flexbox; 
    flex-direction: column;
    gap: 24px;

}

/* 4. components */


    & #advice {
    color:hsl(150, 100%, 66%);
    font-size: 10px;
    }

/* 5. child elements...define size and shape of button element */
    & #button {
    width: 50px;
    height: 50px;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    /* trying to centre the button...text-align centers the element to the parents */
    /* margin centers for block level elements  */
    /* flex is for child of flexbox */
    display: flex;
    margin: auto;

    
    }






/* 6. attribution goes directly underneath */

.attribution {
    display: flexbox;
    flex-direction: column;
    /* fixed at the bottom regardless of other elements */
    position: absolute;
    bottom: 0;


}

/* 7. media queries */
